# Claude Code
.claude/

# OS
Thumbs.db
desktop.ini
.DS_Store

# If you add npm tooling later
node_modules/
dist/

# Logs
*.log

# Large raw/original assets (uncomment if needed)
# public/assets/videos/

# Assets
public/assets/icons/
public/assets/images/
public/assets/sound/
